div {}

.lotte-theme-red {
    background-color: #da2919;
    color: #FFFFFF;
}

.lotte-theme-grey {
    background-color: #54585a;
    color: #FFFFFF;
}

.lotte-theme-black {
    background-color: #2c2a29;
    color: #FFFFFF;
}

.lotte-theme-silver {
    background-color: #8A8D8F;
    color: #FFFFFF;
}

.Header {
    /* background-color: var(--lotte_grey); */
    color: #000000;
    font-size: 14px;
    height: 51px;
    position: relative;
    width: 100%;
}

.header-box-backbtn {
    position: relative;
    float: left;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    width: 19px;
    height: 51px;
    margin-left: 12px;
}

.header-backbtn-img {
    postion: relative;
    float: left;
    background-image: url('../images/backicon.png');
    background-position: center;
    background-size: contain;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    right: 0px;
    top: 0px;
    width: 70%;
}

.header-logo-box {
    position: relative;
    float: left;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    width: 132px;
    height: 51px;
    margin-left: 18px;
}

.header-logo-img {
    postion: relative;
    float: left;
    background-image: url('../images/icon-ez-check.png');
    background-position: center;
    background-size: contain;
    bottom: 0px;
    margin: auto;
    right: 0px;
    top: 0px;
    width: 100%;
}

.icon-setting {
    background-image: url('../images/icon-setting.png');
    background-position: center center;
    background-size: contain;
    bottom: 0px;
    float: none;
    height: 22px;
    right: 14px;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    width: 22px;
}

.box-page-title {
    background-color: #FFFFFF;
    float: none;
    height: 51px;
    position: relative;
    width: 100%;
    border-bottom: solid 1px #F1F0EB;
}

.text-page-title {
    line-height: 51px;
    font-size: 22px;
    letter-spacing: 2px;
    bottom: 0px;
    float: none;
    left: 0px;
    margin: auto;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 74.10%;
}

.empty-box {
    float: none;
    height: 300px;
    position: relative;
    width: 100%;
}

.empty-box.no-agenda {
    height: fit-content;
}

.empty-img {
    background-image: url('../images/notice_icon.png');
    background-position: center center;
    background-size: contain;
    float: none;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 10px;
    position: relative;
}

.empty-img.no-agenda {
    margin-top: 0px;
}

.empty-text-box {
    float: none;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
}

.empty-text {
    font-size: 18px;
    color: #CDCCCC;
    bottom: 0px;
    float: none;
    height: 24px;
    left: 0px;
    margin: auto;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 80%;
}
